$menu-link-color: $gray-theme-base !default;
$menu-dropdown-bg: #FFFFFF !default;
$menu-dropdown-color: #474747 !default;
$menu-font-size: 14px !default;
$menu-font-widget: 600 !default;
$menu-text-transform: uppercase !default;
$menu-font-family: $font-family-base !default;
$menu-border-color: #f4f4f4 !default;